# This is a basic workflow to help us build the demoapp docker image and publish it

name: CD pipeline

on:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Login to docker hub
      uses: actions-hub/docker/login@master
      env:
       DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
       DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    - name: Package the application
      run: mvn -B package --file pom.xml
      
    - name: Build the new release :latest
      run: docker build -t hosniah/kascade:latest .

    - name: Push to docker hub :latest
      uses: actions-hub/docker@master
      with:
       args: push hosniah/kascade:latest
 
